@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR13ExThinItalic.otf');
    font-style: italic;
    font-weight: 100;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR15Thin.otf');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR15ThinItalic.otf');
    font-style: italic;
    font-weight: 100;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR23ExExtraLt.otf');
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR25ExtraLt.otf');
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR25ExtraLtItalic.otf');
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR35Light.otf');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR35LightItalic.otf');
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR45Regular.otf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR45RegularItalic.otf');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR55Medium.otf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR55MediumItalic.otf');
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR65Bold.otf');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR65BoldItalic.otf');
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR75ExtraBold.otf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR75ExtraBoldItalic.otf');
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR85Heavy.otf');
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR85HeavyItalic.otf');
    font-style: italic;
    font-weight: 800;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR95Black.otf');
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR95BlackItalic.otf');
    font-style: italic;
    font-weight: 900;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNR97CnBlack.otf');
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNRSC25ExtraLtItalic.otf');
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: 'Core Sans NR';
    src: url('../fonts/CoreSansNRSC37CnLightItalic.otf');
    font-style: italic;
    font-weight: 300;
}