@import "fonts.css";

body {
    background: url("/steklopaket/assets/img/glass-looong.png"), url("/steklopaket/assets/img/sky.jpg"), linear-gradient(180deg, rgba(154, 200, 249, 0.8) -1.78%, rgba(206, 228, 251, 0.8) 100%);
    background-attachment: fixed;
    background-position: calc(59% + 236px) 54px, top center, center;
    background-size: contain, cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Core Sans NR', serif;
    height: 100vh;
}

.noscroll {
    overflow-y: hidden;
}

main {
    max-width: 1200px;
    height: auto;
    display: flex;
    box-shadow: -1000px 0 0 #ffffff90, 1000px 0 0 #ffffff90;
    /* width: max-content; */
    align-self: center;
}

h1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.04em;
    color: #3C3C3B;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 27px;
    line-height: 36px;
    letter-spacing: 0.03em;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

button {
    font-size: 20px;
    text-align: center;
    line-height: 27px;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 3px;
    display: block;
}

.col-left {
    padding: 70px 0px 0px 100px;
    width: 59%;
    box-sizing: border-box;
    display: inline-block;
}

.col-right {
    /* background-image: url("/steklopaket/assets/img/glass-looong.png"); */
    width: 41%;
    height: auto;
    background-repeat: no-repeat;
    background-position: 100px 54px;
    background-size: contain;
    /* max-width: 500px; */
    /* flex-shrink: 0; */
}

.col-left .banner {
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0px 17px 42px rgba(78, 163, 224, 0.42);
    border-radius: 3px;
    max-width: 600px;
    box-sizing: border-box;
    margin-top: 28px;
    height: auto;
    width: auto;
}

.col-left .banner .adv-item:first-of-type {
    margin-top: 28px;
}

.col-left .banner .adv-item {
    margin-top: 40px;
}

.col-left .banner .adv-item img {
    width: 44px;
    height: 44px;
    display: inline-block;
    vertical-align: middle;
}

.col-left .banner .adv-item p {
    display: inline-block;
    padding-left: 20px;
    font-size: 17px;
    letter-spacing: 0.04em;
    vertical-align: middle;
    margin: 0;
}

.col-left .banner .adv-item p small {
}

.col-left .banner footer {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: space-between;
}

.col-left .banner footer button:focus {
    border: none;
}

.col-left .banner footer button {
    width: 274px;
    height: 44px;
    cursor: pointer;
}

.col-left .banner footer .more {
    display: block;
    text-align: center;
    margin-left: 39px;
    text-decoration: underline #F2642250;
    font-size: 18px;
    letter-spacing: 0.03em;
}

.col-left .text-content {
    font-size: 17px;
    margin-top: 30px;
    letter-spacing: 0.04em;
    color: #3C3C3B;
    padding: 0;
}

.col-right .highlights {
    width: 59%;
    margin-top: 197px;
    margin-left: 15px;
    max-width: 271px;
    position: fixed;
}

.col-right {
    position: relative;
}

.col-right .popup-button {
    position: fixed;
}

.popup-button {
    width: auto;
    height: 60px;
    background-color: transparent;
    cursor: pointer;
}

.popup-button.mobile {
    display: none;
}

.popup-button.hidden {
    display: none;
}

.col-right .popup-button.glass {
    margin-left: 78px;
    top: 620px;
}

.col-right .popup-button.space {
    margin-left: 115px;
    top: 680px;
}

.col-right.hidden {
    opacity: 0;
}

.hover-highlight:hover {
    filter: saturate(3) brightness(3);
}

.orange-text {
    color: #F26422;
}

.orange-bg {
    background-color: #F26422;
    color: white;
}

.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url("/steklopaket/assets/img/glass-looong.png");
    background-color: #FFFFFFC0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: calc(59% + 236px);
    background-position-y: 55px;
    background-attachment: fixed;
}

.overlay.shown, .popup-box.shown {
    display: block;
}

.popup-box::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid #ffffff;
    right: -10px;
    top: 25px;
    padding: 0;
    position: absolute;
}

.popup-box {
    display: none;
    position: absolute;
    padding: 38px 30px 30px;
    background: #FFFFFF;
    box-shadow: 0px 17px 42px rgba(60, 60, 59, 0.23);
    border-radius: 3px;
    width: 600px;
}

.popup-box.glass {
    left: calc(50% - 456px);
    top: 340px;
}

.popup-box.space {
    left: calc(50% - 420px);
    top: 385px;
}

.popup-box h3 {
    font-size: 27px;
    letter-spacing: 0.03em;
    line-height: 33px;
    margin: 0;
    font-weight: 400;
    margin-bottom: 16px;
}

.popup-box p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    display: block;
}

.popup-box .close-button {
    position: absolute;
    text-decoration: none;
    right: 10px;
    top: 2px;
    color: #B0A3A3;
    font-weight: 100;
    font-size: 22px;
}

@media screen and (max-width: 1200px) {
    main {
        align-self: normal;
    }
}

@media screen and (max-width: 1100px) {
    .col-left {
        padding-left: 50px;
    }

    .col-right {
        background-size: calc(100% - 150px) auto;
        max-width: 550px;
    }

    .col-right .highlights {
        width: 65%;
    }

    .col-left .banner footer button {
        font-size: 15px;
    }

    .col-left .banner footer .more {
        font-size: 15px;
    }

    .col-left .banner .adv-item p {
        font-size: 14px;
    }

    .col-left .banner h2 {
        font-size: 26px;
    }

    .popup-box {
        margin-left: -10px;
    }
}

@media screen and (max-width: 800px) {
    .popup-box::after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-bottom: 16px solid #ffffff;
        top: -30px;
        padding: 0;
        position: absolute;
    }

    .popup-box h3 {
        font-size: 22px
    }

    .popup-box.glass {
        width: auto;
        left: 20px;
        right: 10px;
        top: 370px;
    }

    .popup-box.space {
        left: 20px;
        right: 10px;
        width: auto;
        top: 438px;
    }

    .popup-box.glass::after {
        left: calc(50% - 115px);
    }

    .popup-box.space::after {
        left: calc(50% - 90px);
    }

    .popup-box h3 {
    }

    .popup-box p {
    }

    .popup-button.mobile {
        display: block;
    }

    .popup-button.mobile.glass {

        left: calc(50% - 141px);

        margin-top: -190px;

        position: absolute;

    }

    .popup-button.mobile.space {
        left: calc(50% - 115px);
        position: absolute;
        margin-top: -120px;
    }

    .overlay {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: auto;
        background-color: #FFFFFFC0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: center;
        background-position-y: 149px;
        background-attachment: scroll;
    }

    .col-right {
        display: none;
    }

    .col-left {
        width: 100%;
        padding-right: 50px
    }

    .col-left h1 {
        text-align: center;
        margin-bottom: 400px;
    }

    body {
        background-position: center 150px, top center, center;
        background-attachment: scroll;
    }

    .col-left .banner {
        max-width: none;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 19px;
    }

    .col-left {
        padding-left: 0;
        padding-right: 0;
    }

    .col-left .banner {
        border-radius: 0;
    }

    .col-left .banner h2 {
        font-size: 19px;
    }

    .col-left .banner .adv-item p {
        font-size: 15px;
    }

    .col-left .text-content {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        font-size: 15px;
    }

    .col-left .banner .adv-item img {
        display: block;
        margin-bottom: 10px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 400px) {
    .col-left .banner .adv-item img {

    }

    .col-left .banner .adv-item p {

    }

    .col-left .banner footer {
        flex-direction: column;
    }

    .col-left .banner footer button {

        width: 100%;

    }

    .col-left .banner footer .more {
        margin: 0;
        text-align: center;
        width: 100%;
        margin-top: 20px;
        padding: 0;
    }
}